body 
    { 
    /* background: aliceblue; */
   /*  background: -moz-linear-gradient(45deg, #334ee9 0%, #7393f1 100%);
    background: -webkit-linear-gradient(45deg, #334ee9 0%, #7393f1 100%);
    background: linear-gradient(45deg,#334ee9 0%, #7393f1 100%);  */
    }

.navbar 
    { 
    /* background-color: aliceblue; */
    align-items:center;
    /* background-image: url('Images/Background.png'); width: auto; */
    /* background: -moz-linear-gradient(45deg, #334ee9 0%, #7393f1 50%);
    background: -webkit-linear-gradient(45deg, #334ee9 0%, #7393f1 50%);
    background: linear-gradient(45deg,#334ee9 0%, #7393f1 50%);  */
    }

 /* .navlist 
    {
        margin: auto;
        align-items:center;
        display: inline;
    } */

 .box
    {
        /* display: none; */
        background-color: black;
        background-image: url('Images/Background.png'); width: auto; 
        /* z-index: 2; */
    }

    /*Horizontal list see: https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/*/
.table {
    display: table;
    margin 0 auto;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}

img#productImgSmall{
    max-width: 200px;
    max-height: 200px;
    padding-top: 20px;
}
table#productsTable{
    padding-top: 200px;
}